<div class="pattern-overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-lg-offset-2">
				<section class="jumbotron text-center">
					<div class="container">
						<h1 class="jumbotron-heading">My Education</h1>
						<p class="lead text-muted">This page gives the information about my education.
																				It includes year of completion,level, University name and
																				other information about course related to that level.
						</p>
					</div>
				</section>

						<div class="album text-muted">
							<div class="container">

								<div class="row">
									<div class="card" style="width: 22rem;">
										<%= image_tag("tut.png", alt:"Card image cap", class: "card-img-top", width: 300, height: 170) %>
										<div class="card-block">
											<h4 class="card-title">Master in information Technology(2016)</h4>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Go somewhere</a>
										</div>
									</div>


									<div class="card" style="width: 22rem;">
										<%= image_tag("Purbanchal_University.jpg", alt:"Card image cap", class: "card-img-top", width: 300, height: 170) %>
										<div class="card-block">
											<h4 class="card-title">Bachelor of information Technology(2011)</h4>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Go somewhere</a>
										</div>
									</div>

									<div class="card" style="width: 22rem;">
										<%= image_tag("HSEB.jpg", alt:"Card image cap", class: "card-img-top", width: 300, height: 170) %>
										<div class="card-block">
											<h4 class="card-title">HSEB 10+2(2005)</h4>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Go somewhere</a>
										</div>
									</div>

									<div class="card" style="width: 22rem;">
										<%= image_tag("GON.jpg", alt:"Card image cap", class: "card-img-top", width: 300, height: 170) %>
										<div class="card-block">
											<h4 class="card-title">School leaving certificate(SLC)(2003)</h4>
											<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
											<a href="#" class="btn btn-primary">Go somewhere</a>
										</div>
									</div>

								</div>

							</div>
						</div>

			</div>
		</div>
	</div>
</div>
