<div class="pattern-overlay">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-lg-offset-2">
				<h4 class="education-title">My Education</h4>
				<div class="modal-body modal-spa">
					<div class="experience">

						<div class="row">
							<div class="experience-grids experience-grids-btm">
								<div class="experience-left">
									<h3>2016</h3>
									<h5>
										Tampere University of Technology</h5>
								</div>
								<div class="experience-right">
									<h4>Master in information Technology</h4>
									<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="experience-grids experience-grids-btm">
								<div class="experience-left">
									<h3>2011</h3>
									<h5>
										Purbanchal University</h5>
								</div>
								<div class="experience-right">
									<h4>Bachelor of information Technology</h4>
									<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="experience-grids experience-grids-btm">
								<div class="experience-left">
									<h3>2005</h3>
									<h5>
										HSEB</h5>
								</div>
								<div class="experience-right">
									<h4>10+2</h4>
									<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="experience-grids experience-grids-btm">
								<div class="experience-left">
									<h3>2003</h3>
									<h5>
										GON</h5>
								</div>
								<div class="experience-right">
									<h4>SLC</h4>
									<p>Itaque earum rerum hic tenetur a sapiente delectus reiciendis maiores alias Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rutrum iaculis enim, non convallis felis mattis at</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
