<div class="pattern-overlay">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-lg-offset-2 col-sm-12 col-sm-offset-2 col-xs-12 col-xs-offset-2">
				<section class="jumbotron text-center">
						<h4 class="jumbotron-heading">My Education</h4>
						<p class="text">This page gives the information about my education.
																				It includes year of completion,level, University name and
																				other information about course related to that level.
						</p>
				</section>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-lg-12 col-lg-offset-2">

				<div class="row">

					<div class="col-lg-6 col-lg-offset-1">

        		<div class="card">
							<%= image_tag("tut.png", alt:"Card image cap", class: "card-img-top", width: 280, height: 170) %>
							<div class="card-block">
								<h4 class="card-title">Master in information Technology(2016)</h4>
								<p class="card-text">
									Tampere University of Technology, Tampere, Finland
								</p>
								<a href="http://www.tut.fi/en/home" class="btn btn-outline mb1 blue">Visit site</a>

							</div>

						</div>

					</div>

          <div class="col-lg-6 col-lg-offset-1">
						<div class="card">
							<%= image_tag("Purbanchal_University.jpg", alt:"Card image cap", class: "card-img-top", width: 200, height: 170) %>
							<div class="card-block">
								<h4 class="card-title">Bachelor of information Technology(2011)</h4>
								<p class="card-text">Purbanchal University, Biratnagar, Nepal</p>
								<a href="http://purbuniv.edu.np/" class="btn btn-outline mb1 blue">Visit site</a>
							</div>
						</div>
					</div>

				</div>

				<div class="row">

					<div class="col-lg-6 col-lg-offset-1">
						<div class="card" >
						<%= image_tag("HSEB.jpg", alt:"Card image cap", class: "card-img-top", width: 200, height: 170) %>
						<div class="card-block">
							<h4 class="card-title">10+2(2006)</h4>
							<p class="card-text">National Education Board(Now), Bhaktapur, Nepal</p>
							<a href="http://www.neb.gov.np" class="btn btn-outline mb1 blue">Visit site</a>
						</div>
						</div>
					</div>

					<div class="col-lg-6 col-lg-offset-1">
						<div class="card">
							<%= image_tag("GON.jpg", alt:"Card image cap", class: "card-img-top", width: 200, height: 170) %>
							<div class="card-block">
								<h4 class="card-title">School leaving certificate(SLC)(2004)</h4>
								<p class="card-text">Ministry of Education,Singhadurbar, Kathmandu, Nepal </p>
								<a href="http://www.moe.gov.np/" class="btn btn-outline mb1 blue">Visit site</a>
							</div>
						</div>

					</div>

				</div>









				</div>
			</div>



</div>
</div>
