<div class = "home-background">
			<div class = "fader">
			</div>
			<div class="container text-center">

				<div class="banner_ownerinfo animated fadeInDown">
						<h1>tervetuloa</h1>
						<h6>(Welcome)</h6>
						<h6> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi quis dolor sit amet lacus ultricies rutrum. Curabitur vitae fringilla elit. Sed at nunc congue, cursus erat ac, pellentesque eros. Etiam ullamcorper sed lectus sit amet mattis. Morbi justo sem,
						 cursus nec convallis a, pellentesque eu mi. Morbi hendrerit ultricies ligula
						</h6>
				</div>
			</div>
			</div>
