<div class="home">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To my Page!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <%= link_to 'Learn more', personal_websites_experience_path, class: "btn btn-xl"%>
        </div>
    </div>
</div>
