<header class = "blog-header" style= "background-image: url('images/home-bg.jpg')">
	<div class = "container">
		<div class = "row">
			<div class = "col-lg-8 col-lg-offset-2">
				<div class = "blog-heading">
					<h1>Skills</h1>
					<h6>You don't need to be expert in all areas, the output of your work depends upon your dedication, not in your expertise</h6>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="parallax-pattern-overlay">

<div class = "container">
	<div class = "row">
		<div class = "col-lg-8 col-lg-offset-2">
			<h4 class = "education-title">Technical Skills</h4>
				<h6 class="bar-title">C/C++</h6>
					<div class = "bar">
						<div class = "bar-inner bar-90" data-percent = "70%">
						</div>
					</div>

				<h6 class="bar-title">Javascript/Jquery</h6>
					<div class = "bar">
						<div class = "bar-inner bar-80" data-percent = "60%">
						</div>
					</div>

				<h6 class="bar-title">HTML/CSS</h6>
					<div class = "bar">
						<div class = "bar-inner bar-60" data-percent = "60%">
						</div>
					</div>

				<h6 class="bar-title">Nodejs with expressjs</h6>
					<div class = "bar">
						<div class = "bar-inner bar-60" data-percent = "60%">
						</div>
					</div>

				<h6 class="bar-title">Bootstrap</h6>
					<div class = "bar">
						<div class = "bar-inner bar-60" data-percent = "60%">
						</div>
					</div>
				<h6 class="bar-title">Oracle,sqlserver,mysql</h6>
					<div class = "bar">
						<div class = "bar-inner bar-60" data-percent = "60%">
						</div>
					</div>

				<h6 class="bar-title">Mongodb and Mongoose</h6>
					<div class = "bar">
						<div class = "bar-inner bar-60" data-percent = "60%">
						</div>
					</div>
				<h6 class="bar-title">Pascal/Delphi</h6>
					<div class = "bar">
						<div class = "bar-inner bar-60" data-percent = "60%">
						</div>
					</div>
				<h6 class="bar-title">Latex</h6>
					<div class = "bar">
						<div class = "bar-inner bar-60" data-percent = "70%">
						</div>
					</div>
				<h6 class="bar-title">Github</h6>
					<div class = "bar">
						<div class = "bar-inner bar-60" data-percent = "70%">
						</div>
					</div>


			<h4 class = "education-title">Proffessional Skills</h4>
				<h6 class="bar-title">Communication</h6>
					<div class = "bar">
						<div class = "bar-inner bar-90" data-percent = "90%">
						</div>
					</div>

				<h6 class="bar-title">Leadership</h6>
					<div class = "bar">
						<div class = "bar-inner bar-90" data-percent = "70%">
						</div>
					</div>

			<h6 class="bar-title">Confidence</h6>
					<div class = "bar">
						<div class = "bar-inner bar-90" data-percent = "70%">
						</div>
					</div>

			<h6 class="bar-title">Socializing and teamwork</h6>
					<div class = "bar">
						<div class = "bar-inner bar-90" data-percent = "90%">
						</div>
					</div>
		</div>
	</div>
</div>
<div>
<br>
<br>
</div>
</div>
