<div class = "footer">
  <div class = "container">
     <ul class = "socialsite">
      <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
      <li><a href="#"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
    </ul>
    <p>
        © 2016 Resume. All rights reserved | Design by Shiva Bhattarai
    </p>
  </div>
</div>
