
  <div class="masthead clearfix">
    <div class="inner">
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse" style="background-color: #0285a1;" id="mainNav">
    <div class="container">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav nav nav-masthead ml-auto">
              <li class="nav-item">
              <%= link_to 'Home', root_path, class: "nav-link active"%>

              </li>
              <li class="nav-item">
                <%= link_to 'Education', personal_websites_education_path, class: "nav-link active"%>

              </li>
              <li class="nav-item">
                <%= link_to 'Work & Skills', personal_websites_experience_path, class: "nav-link active"%>

              </li>
              <li class="nav-item">
                <%= link_to 'About', about_path, class: "nav-link active"%>

              </li>
              <li class="nav-item">

               <button class="btn btn-outline-info my-2 my-sm-0">Resume</button>
             </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</div>
